.divGeneral{
    padding: 1px 5% ;
}
.divCart{
    margin: 50px 0px;
    border-radius: 15px;
    display: flex;
    background-color: #031ba559;
    border-left: #031ba5 10px solid;
    border-bottom: rgba(80, 80, 80, 0.904) 1px solid;
    border-right: rgba(80, 80, 80, 0.904) 1px solid;
}

.divCart div{
    width: 100%;
}

.divCart p{
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 21px;
    margin-top:15% ;
}

.divCart img{
    width: 10%;
    height: 10%;
    padding: 15px;
}


.clearCart{
    width: 15%;
    height: 35%;
    margin-left: 23%;
    margin-bottom: 15px;
    
}
.removeItem{
    background-color: #031ba5;
    width: 60px;
    height: 60px;
    margin: 10% 10%;
}
.total{
    color: white;
    font-size: 21;
    font-family: 'Courier New', Courier, monospace;
}
.h4{
    color: white;
    text-align: center;
}
.formCorrecto {
    border: 3px solid green;
    color: green; 
}
  
.formMal {
    border: 3px solid red;
    color: red; 
}
  
.formVacio {
    border: 3px solid black;
    color: black; 
}
.divGeneral div{
    text-align: center;
}
.removeItem img{
    width: 80%;
    height: 100%;
    padding: 0px;
}
@keyframes buttonGlower {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 0;
    }
    
}