
.imgsProds{
    width: 100%;
    height: 280px;
    border: 3px solid rgb(0, 0, 0);
}
.imgsProds:hover > p{
   background-color: darkgreen;
}
.cards p{
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.botonCard{
    border-radius: 15px;
    height: 40px;
    width: 180px;
    background: linear-gradient(120deg, #79fb00, #8d01a0, #031ba5,#ff004c, #e6036d);
    animation: buttonGlower 8s ease infinite; 
    background-size: 400%;
    font-size: 18px;
}
.botonCard:hover{
    transition: 0,5s;
    background-color: #7fff00;
    color: black;
    box-shadow: 0px 0px 40px #7fff00;
}
.logoPlay{
    width: 100%;
    height: 40px;
    border: 3px solid blue;
    background-color: blue;
}
.cardsPlay{
    height: auto;
    width: 200px;
    background-color: blue;
    border: 3px solid black;
    border-radius: 15px ;
    text-align: center;
    padding: 15px;
    margin: 0px;
}
.logoXbox{
    width: 80%;
    height: 40px;
    border: 3px solid rgb(39, 168, 27);
    background-color: rgb(39, 168, 27);
}
.cardsXbox{
    height: auto;
    width: 200px;
    background-color: rgb(39, 168, 27);
    border: 3px solid black;
    border-radius: 15px ;
    text-align: center;
    padding: 15px;
}