.contador{
    display: flex;
    justify-content: center;
}
.contador button{
    background-color: darkcyan;
    font-weight: bold;
    font-size: 21px;
    height: 40px;
    width: 40px;
    margin: 5px 0px;
}
.contador p{
    margin: 5px 5px;
    width: 150px;
    height: 40px;
    border: 1px black solid;
    border-radius: 15px;
    background-color: white;
}